
<form action="

{% if app.request.attributes.get('_route') == 'service_registration' %}
{{ path('service_registration') }}
{% endif %}

{% if app.request.attributes.get('_route') == 'client_registration' %}
{{ path('client_registration') }}
{% endif %}
" method="POST" class="fos_user_registration_register">
    <div class="top-margin">
    {{ form_widget(form) }}

    </div>
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>


</form>