{% extends "base.html.twig" %}




{% block body %}
    {{ parent() }}
    <!-- Header -->
    <header id="head">
        <div class="container">
            <div class="row">
                <h1 class="lead"> Gestion de contrat en ligne</h1>
                <p class="tagline">Gérer vos contrats en toute simplicité avec ContratAcu ! </p>
                <p><a class="btn btn-default btn-lg"  href="about.html" role="button">Gérer mes contrats</a>
                    {% if is_granted('ROLE_USER') %}
                    <a role="button" class="btn btn-action btn-lg" href="{{ path("fos_user_security_logout" ) }}">Se déconnecter</a>
                        {% else %}

                    <a role="button" class="btn btn-action btn-lg" href="{{ path("fos_user_security_login" ) }}">Se Connecter</a>

                {%  endif %}
                  </p>
            </div>
        </div>
    </header>
    <!-- /Header -->
{% endblock %}